{{#each errorMessages}}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Munka szerkesztése</h1>
</div>
<body>
{{#each munka}}

<form class="form-horizontal" method="post">
    <fieldset>
        <div class="form-group">
            <label for="tipus" class="col-lg-2 control-label">Típus</label>
            <div class="col-lg-10">
                <input class="form-control" id="tipus" name="tipus" placeholder="{{tipus}}" type="text" value="{{data.tipus}}">
            </div>
        </div>
        <div class="form-group">
            <label for="leiras" class="col-lg-2 control-label">Leírás</label>
            <div class="col-lg-10">
                <input class="form-control" id="leiras" name="leiras" placeholder="{{leiras}}" type="text" value="{{data.leiras}}">
            </div>
        </div>
        <div class="form-group">
            <label for="oraber" class="col-lg-2 control-label">Órabér</label>
            <div class="col-lg-10">
                <input class="form-control" id="oraber" name="oraber" placeholder="{{oraber}}" type="text" value="{{data.oraber}}">
            </div>
        </div>
        <div class="form-group">
            <label for="varos" class="col-lg-2 control-label">Város</label>
            <div class="col-lg-10">
                <input class="form-control" id="varos" name="varos" placeholder="{{varos}}" type="text" value="{{data.varos}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <a href="/munkak/munkalista" class="btn btn-default" role="button" id="vissza" >Visszalépés</a>
            <form action="/munkak_ado/szerkeszt" method="post">
                <button type="submit" class="btn btn-primary" id ="{{azonosito}}" name="{{azonosito}}" value="{{azonosito}}">Küldés</button>
            </form>
            <form action="/munkak_ado/delete" method="get">
                <button type="submit" class="btn btn-primary" id ="{{azonosito}}" name="{{azonosito}}" value="{{azonosito}}">Törlés</button>
            </form>
            </div>
        </div>
    </fieldset>
</form>  
{{/each}}

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../js/prob.js"></script>

</body>