<!DOCTYPE html>

{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Bejelentett munkák</h1>
</div>

<head>
</head>
<body>
<table class="table table-hover">
    <thead>
        <tr>
            <th><h3>User</h3></th>
            <th><h3>Dátum</h3></th>
            <th><h3>Típus</h3></th>
            <th><h3>Leírás</h3></th>
            <th><h3>Órabér</h3></th>
            <th><h3>Város</h3></th> 
            <th><h3>Státusz</h3></th>
        </tr>
    </thead>
    <tbody>
        {{#each munkak}}
        <tr>
            <div class="form-group">
            <td><h5>{{user}}</h5></td>
            <td><h5>{{date}}</h5></td>
            <td><h5>{{tipus}}</h5></td>
            <td><h5>{{leiras}}</h5></td>
            <td><h5>{{oraber}}</h5></td>
            <td class><h5>{{varos}}</h5></td>
            <td><h4><span for="status" class="label label-{{statusClass}}">{{statusText}}</span></h4></td>
            <form action="/munkak/munkalista" method="post">
                <td><h5><button  id="{{azonosito}}" value="{{azonosito}}" type="submit" class="btn btn-primary" name="{{azonosito}}" >Szerkeszt</h5></td>
            </form>
            <form action="/munkak/elfogad" method="post">
                <td><h5><button  id="{{azonosito}}" value="{{azonosito}}" type="submit" class="btn btn-primary" name="{{azonosito}}" >Elfogad</h5></td>
            </form>
             <form action="/munkak/torol" method="post">
                <td><h5><button  id="{{azonosito}}" value="{{azonosito}}" type="submit" class="btn btn-primary" name="{{azonosito}}" >Töröl</h5></td>
            </form>
            </div>
        </tr>
        {{/each}}
    </tbody>
</table>

<form action="../munkak_ado/felvesz" method="get">
    <button class="btn btn-primary" id="felvesz" type="submit">Új Munka Felvétele
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="../js/prob.js"></script>

</div>




